.popUp{
  position: fixed;
  width : 100vw;
  height: 100vh;
  background:#2f392f2f;
}

.popUpDetile{
  width: 25%;
  margin:12rem;
  margin-left: 32rem;
  background:rgb(155, 140, 140);
  padding : 1rem;
  text-align:center;
}
.imgOfPopUp{
  width: 15rem;
}

.layutStalyle{
  display: flex;
  flex-direction: column;
}

.countryListStyle{
  padding-left: 20%;
}

.cardStyle{
  display:flex;
  flex-direction: row ;
  margin-bottom:2%;
}

.imgOfCard{
  width: 5rem;
  height: 5rem;
  border-radius: 4rem;
  border: 1px solid black;
}
.cardDetile{
  margin-left: 2%;
  padding-top: 2%;
}